@model YGOCollection1.Models.YGOSpells

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>YGOSpells</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.update_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.update_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.refCardList.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.refCardList.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeSpellCard.cardtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeSpellCard.cardtype)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CardID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
